

/** Faz o setup inicial da página. **/
* {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

/** Estiliza a barra de menu. **/
.menu{
    list-style-type: none;
    width: 52%;
    margin: auto;  
}

/** Estiliza os itens dentro da barra de menu. **/
.menu li{
    float: left;
    padding: 13px 13px;
    left: 30%;

}

/** Altera a configuração do h4, alinhando ao centro e trocando a cor para cinza. **/
h4 {
    text-align: center;
    color: grey;
}

/** Altera a configuração original do p, alinhando ao centro. **/
p {
    text-align: center;
}